/* IMAGE LINK START */
img.container1 {
height: 57px;
width: 57px;
}

img.container2 {
height: 35px;
width: 35px;
}

img.container3 {
height: 50px;
width: 50px;
}

img.container4 {
height: 50px;
width: 75px;
}

img.container5 {
height: 50px;
width: 50px;
}

img.container6 {
height: 60px;
width: 80px;
}

img.container7, img.container8 {
height: 40px;
width: 40px;
}
/* IMAGE LINK END */

/* TEXT LINK START */
#ig {
color: black;
}

#tw {
color: black;
}

#yt {
color: black;
}

#yh {
color: black;
}

#bi {
color: black;
}

#go {
color: black;
}
/* TEKS LINK END */

/* LINK IN BOX or BUTTON START */
.C1 {
text-decoration: none;
padding: 0px 15px;
background-color: #000000;
color: white;
border: 1px solid white;
display: inline-block;
}

.C2 {
text-decoration: none;
padding: 0px 8px;
background-color: #ff00ff;
color: white;
border: 2px solid white;
display: inline-block;
}

.C3 {
text-decoration: none;
padding: 0px 15px;
background-color: #dc143c;
color: white;
border: 1px solid black;
display: inline-block;
}

.C4 {
text-decoration: none;
padding: 0px 15px;
background-color: white;
color: #1e90ff;
border: 2px solid dodgerblue;
}

.C5 {
text-decoration: none;
padding: 0px 15px;
background-color: white;
color: #663399;
border: 2px solid rebeccapurple;
}

.C6 {
text-decoration: none;
padding: 0px 15px;
background-color: white;
color: #ff0000;
border: 2px solid red;
}
/* LINK ON BOX or BUTTON END */

/* LINK BUTTON CUSTOM START */
.C1:link {
color: white;
background-color: #000000;
}

.C1:visited {
color: white;
background-color: grey;
}

.C1:hover, .C1:active {
color: black;
background-color: white;
border: 2px solid black;
}

.C2:link {
color: white;
background-color: #ff00ff;
}

.C2:visited {
color: white;
background-color: #ffe6ff;
}

.C2:hover, .C2:active {
color: #ff00ff;
background-color: white;
border: 2px solid #ff00ff;
}

.C3:link {
color: black;
background-color: #dc143c;
}

.C3:visited {
color: black;
background-color: #f6a2b3;
}

.C3:hover, .C3:active {
color: #dc143c;
background-color: white;
border: 2px solid #dc143c;
}
/* LINK BUTTON CUSTOM END */